<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ham.habit.groupTodo.repository.GroupTodoRepository">
	
	<insert id="insertGroupTodo" parameterType="map">
		INSERT INTO
			`group_todo`
			(
				`groupId`
				, `userId`
				, `dueDate`
				, `completed`
			)
		VALUE 
			(
				#{groupId}
				, #{userId}
				, #{dueDate}
				, #{completed}
			)
	</insert>
	
	<select id="countByGroupIdAndUserId"  parameterType="map"
	resultType="int">
		SELECT
			count(*)
		FROM
			`group_todo`
		WHERE
			`groupId` = #{groupId}
			AND `userId` = #{userId}
	</select>
	
	<select id="selectTodoList"
	resultType="com.ham.habit.groupTodo.domain.GroupTodo">
		SELECT
			`id`
			, `groupId`
			, `userId`
			, `dueDate`
			, `completed`
			, `createdAt`
			, `updatedAt`
		FROM
			`group_todo`
		WHERE
			`groupId` = #{groupId}	
		ORDER BY
			`id` DESC;
	</select>
	
	<update id="updateCompleted" parameterType="map">
		UPDATE
			`group_todo`
		SET
			`completed` = #{completed}
			, `dueDate` = #{dueDate}
			, `updatedAt` = now()
		WHERE `id` = #{id}
				AND `groupId` = #{groupId}
	</update>
	
</mapper>