<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ham.habit.member.repository.MemberRepository">
 
	<insert id="insertMember" parameterType="map">
		INSERT INTO
			`group_members`
			(
				`groupId`
				, `userId`
				, `completed`
			)
		VALUE 
			(
				#{groupId}
				, #{userId}
				, #{completed}
			)
			
	</insert>
	
<!-- 	<select id="countByGroupId" parameterType="map" -->
<!-- 	resultType="int"> -->
<!-- 		SELECT -->
<!-- 			count(*) -->
<!-- 		FROM -->
<!-- 			`group_members` -->
<!-- 		WHERE -->
<!-- 			`groupId` = #{groupId}; -->
<!-- 	</select> -->
	
	<select id="countByGroupIdAndUserId"  parameterType="map"
	resultType="int">
		SELECT
			count(*)
		FROM
			`group_members`
		WHERE
			`groupId` = #{groupId}
			AND `userId` = #{userId}
	</select>
	
	<select id="selectMemberList"
	resultType="com.ham.habit.member.domain.Member">
			SELECT
			`id`
			, `groupId`
			, `userId`
			, `completed`
			, `createdAt`
			, `updatedAt`
		FROM
			`group_members`
		WHERE
			`userId` = #{userId}	
		ORDER BY
			`id` DESC;
	</select>

</mapper>	