<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ham.habit.todo.repository.TodoRepository">

	<insert id="insertTodo" parameterType="map">
		INSERT INTO
			`todo`
		(
			`userId`
			, `title`
			, `dueDate`
		)
		VALUE 
		(
			#{userId}
			, #{title}
			, #{dueDate}	
		)
	</insert>
	
	<select id="selectTodoList" parameterType="map"
	resultType="com.ham.habit.todo.domain.Todo">
		SELECT
			`id`
			, `userId`
			, `title`
			, `completed`
			, `description`
			, `dueDate`
			, `createdAt`
			, `updatedAt`
		FROM
			`todo`
		WHERE
			`userId` = #{userId}
			AND `dueDate`= #{dueDate}	
	</select>
	
	<update id="updateCompleted" parameterType="map">
			UPDATE
				`todo`
			SET 
				`completed` = #{completed}
				, `updatedAt` = now()
			WHERE `id` = #{id}
	</update>
	
	<insert id="insertDescription" parameterType="map">
		INSERT INTO
		`todo`
		(
		 `userId`
		 , `description`
		)
		VALUE
		(
			#{userId}
		 , #{description}
		)
	</insert>
	
	<update id="updateDescription" parameterType="map">
		UPDATE
			`todo`
		SET
			`description` = #{description}
			, `updatedAt` = now()
		WHERE
			`id` = #{id}
		
	</update>
	
	<delete id="deleteTodo" parameterType="int">
		DELETE FROM
			`todo`
		WHERE
			`id` = #{id}
	</delete>
	
	<select id="selectTodo" parameterType="int"
	resultType="com.ham.habit.todo.domain.Todo">
	SELECT
		`id`
		, `userId`
		, `title`
		, `completed`
		, `description`
		, `dueDate`
		, `createdAt`
		, `updatedAt`
	FROM
		`todo`
	WHERE
		`id` = #{id}
	</select>


</mapper>