<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ham.habit.todo.repository.TodoRepository">

	<insert id="insertTodo" parameterType="map">
		INSERT INTO
			`to_do`
		(
			`userId`
			, `title`
		)
		VALUE 
		(
			#{userId}
			, #{title}
		)
	</insert>
	
	<select id="selectTodoList" resultType="com.ham.habit.todo.domain.Todo">
		SELECT
			`id`
			, `userId`
			, `title`
			, `completed`
			, `description`
			, `due_date`
			, `createdAt`
			, `updatedAt`
		FROM
			`to_do`
	</select>

</mapper>