@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}


 #calendar {
        max-width: 500px;
        margin: 40px auto;
      }

      
.main-box{
	width:90%;
}


.right-box{
	width:30%;
	border: 2px solid #DBDBDB;
	background-color:navy;
}