@charset "UTF-8";

#wrap{
	margin:0 auto;
}


 #calendar {
		
        margin: 40px auto;
      }

      
.main-box{
	width:90%;
}


.right-box{
	width: 30%;
	border: 2px solid #DBDBDB;
	background-color:navy;
}